.rodape{
    text-align: center;
    background-color: var(--cor-cabecalho);
    height: 100%;
}

.rodape__logos{
    display: flex;
    justify-content: space-around;
}

.rodape__links{
    font-size: 1rem;
}

footer nav img {
    width: 6rem;
    height: 6rem;
}