.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem;
    flex-wrap: wrap;
    background-color: var(--cor-cabecalho);
}

.menu li a{
    text-decoration: none;
    margin: 1.25rem;
    color: var(--cor-cabecalho-menu);
}

.cabecalho nav ul{
    display: flex;
    list-style: none;
}