.cabecalho{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--cor-cabecalho);
}

.cabecalho__links{
    text-decoration: none;
    color: var(--cor-cabecalho-menu);
    margin: 0 3rem;
    padding: 2rem 1.5rem;
    font-size: 25px;
    font-family: var(--fonte-principal);
    font-weight: 600;
}

.cabecalho nav ul{
    display: flex;
    list-style: none;
}

