.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem;
    flex-wrap: wrap;
    background-color: var(--cor-cabecalho);
}

.cabecalho__links{
    text-decoration: none;
    margin: 1.25rem;
    color: var(--cor-cabecalho-menu);
}

.cabecalho nav ul{
    display: flex;
    list-style: none;
}


 /* header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem;
    background-color: #1d3557 ;
  } */
  
   /* .logo img {
    width: 6.25rem;
    height: 6.25rem;
  } */
  
  /* .menu {
    display: flex;
  } */
  
  /* .menu li {
    list-style: none;
    margin-left: 1.25rem;
  } */
  
  /* .menu li a {
    text-decoration: none;
    color: #a8dadc;
  } */ 