.main{
    display: grid;
}

.container{
    display: inline-block;
    background-color: #FFF;
}

.content {
    display: flex;
    justify-content: center;
    padding: 2.5rem;
}

.content p{
    font-family: var(--fonte-principal);
    color: var(--cor-cabecalho);
    font-size: 1.5rem;
}

.h2__paginas{
    font-family: var(--fonte-principal);
    color: var(--cor-cabecalho);
    font-size: 1.5rem;
}

.figure__paginas{
    margin-bottom: 0.6rem
}

.img__paginas{
    height: 100%;
    height: 30rem;
    object-fit: cover;
}

.card {
    width: 18.75rem;
    padding: 1.25rem;
    background-color: var(--cor-cabecalho);
    margin-right: 1.25rem;
    margin-bottom: 1.25rem;
    display: inline-block;
}

.card h2 {
    font-size: 1.5rem;
    margin-bottom: 0.6rem;
}

.card figure {
    margin-bottom: 0.6rem;
}

.card img {
    width: 100%;
    height: 12.5rem;
    object-fit: cover;
}

.card figcaption {
    font-size: 0.8rem;
}

.main__titulo{
    text-align: center;
}

.legenda{
    font-size: 0.7rem;
}

figcaption{
    font-family: var(--fonte-principal);
    color: var(--cor-cabecalho-menu);
}

.figcaption__paginas{
    font-family: var(--fonte-principal);
    color: var(--cor-cabecalho);
    font-size: 0.8rem;
}