@media (max-width: 468px){
body{
  max-width: 100vw;
}
.cabecalho{
  flex-direction: column;
}

.menu{
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}
.menu li{
  margin: 1rem;
}

.card figcaption{
  font-size: 1.3rem;
}

.h2__paginas{
  justify-content: center;
  text-align: center;
}

.figure__paginas p{
  font-size: 1.4rem;
}

footer nav img{
  width: 4rem;
  height: 4rem;
}
} 