@media (max-width: 768px) {
  /*Estilos para o cabeçalho */
  .cabecalho{
    justify-content: center;
  }
  .menu {
    justify-content: center;
  }
  .menu a {
    margin-bottom: 10px;
  }
  /* Estilos para a seção de conteúdo */
  .content {
    display: flex;
    flex-wrap: wrap;
  }
  .card {
    width: 100%;
    margin-bottom: 20px;
  }
  .card img {
    max-width: 100%;
  }
  /* Estilos para o rodapé */
  .footer h2 {
    text-align: center;
  }
  .footer nav {
    display: flex;
    justify-content: center;
  }
  .footer-images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}